.body{
    width:1200px;
    height:100%;
}

.bumpRight {
    padding-right: 0;
}

.headerGrid {
  width:100%
}

.headerGrid>div{
    background-color: rgb(100 117 201 / 23%);
}

.navTitle:hover {
  color:#007bff;
}

.login-icon {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
}

.icon {
  margin-top: 2px;
}

#gameSlides{
    width: 900px;
    max-height: 350px;
}

.carousel-inner img {
    width: 100%;
    height: 350px;
}

.header{
    font-size:inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    text-shadow:#0f3b3621;
    display: block;
    border-bottom: 1px solid rgba(198, 195, 243, 0.719);
}

.news {
    padding-top: 2px;
    width: inherit;
    display: inline-block;
    height: 120px;
    border-bottom: 1px solid gray;
}

.title{
    font-size:10px;  
}

.threadList{
    padding-bottom: 15px;
}

.thread{
    margin: 15px;
    display: block;
    background-color:whitesmoke;
    width: inherit;
    height:auto;
    padding-top: 10px;
    padding-left: 25px;
}

.content{
    padding: 10px;
    text-align: justify;
    font-size: 13px;
    width:cal(inherit-16);
    height:auto;
    overflow: hidden;
}

.search{
    width:400px;
    height: auto"
}

#searchBar{
    display:block;
    border:solid 0.5px black;
    height:30px;
    padding:auto
}

#inputText{
    display:inline;
    width:inherit;
    height:auto
}

.newsList{
    padding: 3px
}

#newsImg{
    width:150px;
    height:90px
}

#forum-filter {
    height: fit-content;
    width: 100%;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
}

#search {
    width: 100%;
}

#glass {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}