#header {
    width: 750px;
    margin: auto;
    border: 1px solid black; /* this is temporary, until we have color */
}

#temp-title {
    width: fit-content;
    margin: auto;
}

#title {
    text-align: center;
}

#title-info {
    display: block;
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px;
}

nav a {
    padding: 10px 75px;
    border: 1px solid black;
    color: blue; /* feel free to change */
    text-decoration:none;
}

nav a:visited {
    color: blue; /* feel free to change */
}

/* ARTICLE */

article {
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    overflow: visible;
}

.console-box-row {
    padding-top: 15px;
    margin: auto;
    height: auto;
    overflow: hidden;
    /* border: 1px solid black; */
}

.console-box-2-row {
    padding-left: 15px;
    padding-right: 15px;
    width: 800px;
}

.entire-box {
    width: 45%;
}

.console-box {
    width: auto;
    height: 110px;
    position: relative;
}

.entire-box-L {
    float: left;
}

.entire-box-R {
    float: right;
}

.console-img {
    width: 100px;
    padding-left: 20px;
    display: block;
    float: left;
}

.console-shelf {
    width: 99.5%;
    height: 35px;
    background-color:saddlebrown; /* feel free to change */
    position: absolute;
    bottom: 0;
    z-index: -1;
    border: 1px solid black;
}

.console-shelf-title {
    position: relative;
    width: fit-content;
    height: 0;
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
}

.console-box-1-row {
    width: 70%;
}

.console-box-1 {
    width: auto;
    height: 110px;
    position: relative;
}

.console-box-3 {
    width: 20%;
    height: 110px;
    position: relative;
}

.game-box-row {
    padding-bottom: 15px;
    margin: auto;
    height: fit-content;
    overflow: auto;
    /* border: 1px solid black; */
}

.game-box {
    width: auto;
    height: 150px;
    position: relative;
    border: 1px solid black;
}

.game-hidden {
    display: none;
}

.game-item {
    border: 1px solid blue;
    height: 75px;
    width: auto;
}

.game-img {
    width: auto;
    height: inherit;
    display: block;
    float: left;
}