body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    width:1200px;
    height:100%;
}

.bumpRight {
    padding-right: 0;
}

.headerGrid {
  width:100%
}

.headerGrid>div{
    background-color: rgb(100 117 201 / 23%);
}

.navTitle:hover {
  color:#007bff;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.icon {
  margin-top: 2px;
}

#gameSlides{
    width: 900px;
    max-height: 350px;
}

.carousel-inner img {
    width: 100%;
    height: 350px;
}

.header{
    font-size:inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    text-shadow:#0f3b3621;
    display: block;
    border-bottom: 1px solid rgba(198, 195, 243, 0.719);
}

.news {
    padding-top: 2px;
    width: inherit;
    display: inline-block;
    height: 120px;
    border-bottom: 1px solid gray;
}

.title{
    font-size:10px;  
}

.threadList{
    padding-bottom: 15px;
}

.thread{
    margin: 15px;
    display: block;
    background-color:whitesmoke;
    width: inherit;
    height:auto;
    padding-top: 10px;
    padding-left: 25px;
}

.content{
    padding: 10px;
    text-align: justify;
    font-size: 13px;
    width:cal(inherit-16);
    height:auto;
    overflow: hidden;
}

.search{
    width:400px;
    height: auto"
}

#searchBar{
    display:block;
    border:solid 0.5px black;
    height:30px;
    padding:auto
}

#inputText{
    display:inline;
    width:inherit;
    height:auto
}

.newsList{
    padding: 3px
}

#newsImg{
    width:150px;
    height:90px
}

#forum-filter {
    height: fit-content;
    width: 100%;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
}

#search {
    width: 100%;
}

#glass {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

/* login */
#greyBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

#login {
    width: 350px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    display: none;
}

#login-form {
    margin: auto;
    margin-top: 30px;
    width: fit-content;
    display: block;
}

#signup {
    width: 350px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    display: none;
}

#signup-form {
    margin: auto;
    margin-top: 30px;
    width: fit-content;
    display: block;
}

#login-form h3 {
    text-align: center;
}

#login-form #loginBtn {
    margin: auto;
    display: block;
}

/*---------- Collection.html -------------*/

#header {
    width:1110px;
    margin: auto;
    border: 1px solid black; /* this is temporary, until we have color */
}

#temp-title {
    width: fit-content;
    margin: auto;
}

#title {
    text-align: center;
}

#title-info {
    display: block;
    text-align: center;
}

#collection-header-line {
    width: max(600px, 60%);
    height: 0px;
    position: relative;
    left: calc(50% - max(600px, 60%) / 2 - 10px);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-bottom-style: solid;
    margin: 10px;
}

/* ARTICLE */

article {
    width:1110px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid black; */
    overflow: visible;
}

.console-box-row {
    padding-top: 15px;
    margin: auto;
    height: auto;
    overflow: hidden;
    /* border: 1px solid black; */
}

.console-box-2-row {
    padding-left: 15px;
    padding-right: 15px;
    width: 1000px;
}

.entire-box {
    width: 45%;
}

.console-box {
    width: auto;
    height: 110px;
    position: relative;
}

.entire-box-L {
    float: left;
}

.entire-box-R {
    float: right;
}

.console-img {
    height: 75px;
    padding-left: 20px;
    display: block;
    float: left;
}

.console-shelf {
    width: 100%;
    height: 35px;
    background-color:saddlebrown; /* feel free to change */
    position: absolute;
    bottom: 0;
    z-index: -1;
    border: 1px solid black;
}

.console-shelf-title {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: -10px;
    left: 5px;
    color: white;
}

.console-box-1-row {
    width: 80%;
}

.console-box-1 {
    width: auto;
    height: 110px;
    position: relative;
}

.console-box-3 {
    width: 20%;
    height: 110px;
    position: relative;
}
.game-box-row {
    padding-bottom: 15px;
    margin: auto;
    height: fit-content;
    overflow: auto;
    /* border: 1px solid black; */
}

.game-box {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
}

.game-hidden {
    display: none;
}

.game-item {
    border: 2px solid saddlebrown;
    border-bottom: 2px solid saddlebrown;
    border-top: 0px solid saddlebrown;
    height: 75px;
    width: auto;
}

.game-item-box {
    width: auto;
    height: inherit;
    position: relative;
    overflow: hidden;
}

.game-img-item {
    float: left;
    display: block;
    width: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid saddlebrown;
}

.game-img {
    width: auto;
    height: inherit;
    z-index: -1;
}

.game-txt-item {
    float: left;
    width: 70%;
    text-align: center;
    border-right: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-txt-item p {
    margin-bottom: 0;
}

.game-status {
    float: right;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-status p {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
}

.game-status:hover {
    cursor: default;
}

.game-played {
    background-color: yellow;
}

.game-beat {
    background-color: deepskyblue;
}

.game-want {
    background-color: grey;
}


/* explore.html */

#explore-header {
    text-align: center;
}

.explore-title {
    text-align: center;
    position: relative;
    font-size: 50px;
    margin-bottom: 0px;
}

.explore-line {
    width: max(600px, 60%);
    height: 0px;
    position: relative;
    left: calc(50% - max(600px, 60%) / 2 - 10px);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-bottom-style: solid;
    margin: 10px;
}

#explore-search {
    text-align: center;
}

#explore-back {
    position: relative;
    bottom: 1px;
    border: solid;
    border-width: 3px;
    border-color: rgb(160, 160, 160);
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    padding: 2px 8px;
}

#explore-back:hover {
    border-color: rgb(148, 148, 148);
    background-color: rgb(207, 207, 207);
}

#explore-search-input {
    width: max(400px, 40%);
    height: 40px;
    text-align: left;
    font-size: 20px;
    text-indent: 2%;
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: rgb(172, 172, 172);
}

#explore-more {
    width: 100px;
    margin-top: 10px;
    background-color: rgb(226, 226, 226);
    border: solid;
    border-width: 2px;
    border-radius: 10px;
}

#explore-more:hover {
    background-color: lightgray;
}

.explore-search-button {
    margin-left: 10px;
    margin-right: 0px;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 10px 10px;
}

.explore-search-button:hover {
    background-color: lightgray;
    border-color: rgb(123, 123, 123);
}

#explore-gallery {
    position: relative;
    left: calc(50% - min(70%, 600px) / 2 - 5px);
}

.explore-gallery-container {    
    display: grid;
    width: min(70%, 600px);
    grid-template-columns: repeat(4, 25%);
}

.explore-gallery-element {
    margin: 20px;
    margin-top: 10px;
    height: 100px;
    /* width = height + margin / 2 */
    width: 110px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(186, 186, 186);
    border-radius: 12px;
    /* for now */
    text-align: center;
}

.explore-gallery-element:hover {
    border-color: rgb(67, 67, 67);
}

.explore-gallery-selected {
    background-color: lightgreen;
}

.explore-type-game {
    background-color: rgba(255, 255, 0, 0.242);
}

.explore-type-game:hover {
    background-color: rgba(255, 255, 0, 0.7);
}

.explore-type-console {
    background-color: rgba(255, 0, 0, 0.294);
}

.explore-type-console:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.explore-hidden {
    display: none;
}

.explore-centered {
    text-align: center;
}